<div class="navbar1">
  <div class="navbar-container">
    <div class= "navbar-title">
      <h1>Lite Services</h1>
    </div>
    <div class="menu-navbar">
      <%= link_to "Accueil", root_path %>
      <%= link_to "Nos Services", nos_services_path %>

      <%= link_to "Entreprises", entreprises_path %>
      <%= link_to "Particuliers", particuliers_path %>
      <%= link_to "Recrutement", recrutement_path %>

      <%= link_to "Contact", contact_path %>
      <%= link_to "About", about_path %>
    </div>
  </div>
</div>
