
<div class="navbar">
  <h1>A propos</h1>
</div>

<%= link_to "Home", root_path %>
<div class= container_menu>


</div>


<div class="background">
  <div class="container">
    <div class="title">
      <h1>Dancing Partners</h1>
      <p>The First WorldWide Dancers Community</p>
    </div>
    <div class="section">
      <div class="row">
        <div class="column">
          <a class="link"><%= link_to "Community", partners_path, class: "btn-ghost" %></a>
        </div>
        <div class="column">
          <a class="link"><%= link_to "Profile", profile_path, class: "btn-ghost" %></a>
        </div>
        <div class="column">
          <a class="link"><%= link_to "Dances", dances_path, class: "btn-ghost" %></a>
        </div>
        <div class="column">
          <a class="link"><%= link_to "Events", class: "btn-ghost" %></a>
        </div>
        <div class="column">
          <a class="link"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class:  "nav-link" %></a>
        </div>
      </div>
    </div>
    <div class="search2">
      <%= form_tag dances_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a dance"
      %>
      <%= submit_tag "Search", class: "b-primary" %>
      <% end %>
    </div>
  </div>
</div>
