<div class="background">

  <div class ="navbar">
    <div class= "titre"
    <h1>Service Lite Plus</h1>
  </div>
  </div>

<%= link_to "Nos Services", nos_services_path %>

<%= link_to "Entreprises", entreprises_path %>
<%= link_to "Particuliers", particuliers_path %>
<%= link_to "Recrutement", recrutement_path %>

<%= link_to "Contact", contact_path %>
<%= link_to "About", about_path %>

</div>
