<!DOCTYPE html>
<html>
  <head>
    <title>Lite Services</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <div class="container-site">
            <%= image_tag "image_banner.jpg" %>
        <div class="page-title">
          <h1>Lite Services</h1>
        </div>
      </div>
      <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>
