<!DOCTYPE html>
<html>
  <head>
    <title>Lite Services</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
        <div class="banner">
          <div class="page-title">
            <h1>Lite Services</h1>
              <h2>Agence de Communication Web</h2>
                <p>Expertise en aménagement digital</p>
                <p>Auxiliaire de vie digitale</p>
                <p>Gestion documentaire collaborative</p>
                <p>Recrutement & offres d'emploi</p>
          </div>
        </div>
      <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>
