<!DOCTYPE html>
<html>
  <head>
    <title>Lite Services</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
        <div class="banner">
             <!-- <img><%= image_tag "image_banner.jpg" %></img> -->
          <div class="page-title">
            <h1>Lite Services</h1>
            <h2>Agence de webdesign</h2>
              <p>Auxiliaire de vie digitale</p>
              <p>Gestion documentaire collaborative</p>
              <p>Recrutement interim</p>
          </div>
        </div>
      <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>
