<!DOCTYPE html>
<html>
  <head>
    <title>Agence de digitalisation - Lite Services</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" sizes="32x32" href="/logo_lite_services.png">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
        <div class="banner">
          <!-- <div id="text-filant"></div> -->
          <div class="page-title">
            <h1>Lite Services</h1>
            <h2>Libérez vous des corvées digitales</h2>
              <p>Services informatiques à domicile</p>
              <p>Création & webdesign pour entreprises</p>
              <p>1ère Agence de digitalisation au service de la liberté de tous</p>
          </div>
        </div>
      <%= yield %>
      <%= render 'shared/footer' %>

      <ol id="fifa-wins">
        <li>Brazil (5 wins)</li>
        <li>Germany (4 wins)</li>
        <li>Italy (4 wins)</li>
        <li>Argentina (2 wins)</li>
        <li>Uruguay (2 wins)</li>
      </ol>

      <script src="application.js"></script>
<!--         var myText = "Lite Services, le développement d'une relation numérique et humaine"
        var myArray = myText.split("")
        var timeLooper;
[]
        function loop() {
          if (myArray.length > 0){
              document.getElementbyId("text-filant").innerHTML += myArray.shift();
          } else {
            clearTimeout(timeLooper);
          }
          timeLooper setTimeout('loop()', 70);
        }
        loop() -->
<!--       </script>
 -->  </body>
</html>
