<!DOCTYPE html>
<html>
  <head>
    <title>Agence de digitalisation - Lite Services</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" sizes="32x32" href="/logo_lite_services.png">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
        <div class="banner">
          <!-- <div id="text-filant"></div> -->
          <div class="page-title">
            <h1>Lite Services</h1>
            <h2>Lbérez vous des corvées digitales</h2>
              <p>Webdesign pour particuliers & entreprises</p>
              <p>Services informatiques pour tous</p>
              <p>Cours & Formations</p>
          </div>
        </div>
      <%= yield %>
      <%= render 'shared/footer' %>
<!--       <script src="application.js">
        var myText = "Lite Services, le développement d'une relation numérique et humaine"
        var myArray = myText.split("")
        var timeLooper;
[]
        function loop() {
          if (myArray.length > 0){
              document.getElementbyId("text-filant").innerHTML += myArray.shift();
          } else {
            clearTimeout(timeLooper);
          }
          timeLooper setTimeout('loop()', 70);
        }
        loop()
      </script> -->
  </body>
</html>
