<!DOCTYPE html>
<html>
  <head>
    <title>Agence de digitalisation - Lite Services</title>
        <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
        <%= csrf_meta_tags %>
     <link rel="icon" type="image/png" sizes="32x32" href="/logo_lite_services.png">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
        <div class="banner">
          <!-- <div id="text-filant"></div> -->
          <div class="page-title">
            <h1>Lite Services</h1>
              <h2>Agence de communication digitale</h2>
              <h3>Libérez vous des corvées digitales</h3>
              <p>Services informatiques à domicile</p>
              <p>Création & webdesign pour entreprises</p>
              <p>Agence de digitalisation</p>
          </div>
        </div>
      <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>
